{% extends 'base.html' %}
{% block title %}
    
{% endblock %}
{% block contentStyle %}
    
{% endblock %}


{% block  section %}
<section class="home" style="height:600px;">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner" style="height:500px;">
        <div class="carousel-item active" data-bs-interval="1000">
          <img src="/static/images/banner-1.png"  class="d-block w-100" alt="...">
          <div class="text">
            <h1>Spend Your Holiday</h1>
            <h4>"Your Perfect Stay, Just a Click Away!"</h4>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="1500">
          <img src="/static/images/banner-2.png"  class="d-block w-100" alt="...">
          <div class="text">
            <h1>Spend Your Holiday</h1>
            <h4>"Your Perfect Stay, Just a Click Away!"</h4>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="1500">
          <img src="/static/images/banner-3.png" class="d-block w-100" alt="...">
          <div class="text">
            <h1>Spend Your Holiday</h1>
            <h4>"Your Perfect Stay, Just a Click Away!"</h4>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
{% endblock %}


{% block content %}
<div class="content324" style="height:900px;  justify-content: space-between; align-items: center;">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="section-title text-center text-primary text-uppercase">Our Team</h3>>
                <h1 class="mb-5" style="color:black;">Explore Our Staffs</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="rounded shadow overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="static/images/namya.jpg" style="height:400px; width:400px;">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center" >
                                <a class="btn btn-square btn-primary mx-1" href="https://www.facebook.com/"><i class="fab fa-facebook-f" ></i></a>
                                <a class="btn btn-square btn-primary mx-1" href="https://x.com/?mx=2"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h1 style="font-weight:bold; display:block; color: black;">Namya Gupta</h1>
                            <!-- <small style="font-weight:bold; display:block; color: black;">Oliver</small> -->
                            <h4 style=" display:block; color: black;">Leader</h4>
                            <!-- <small style="color:black;">Founder</small> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="rounded shadow overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="static/images/khushijain.jpg" style="height:400px; width:400px;">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                <a class="btn btn-square btn-primary mx-1" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href="https://x.com/?mx=2"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h1 style="font-weight:bold; display:block; color: black;">Khushi jain</h1>
                            <!-- <small style="font-weight:bold; display:block; color: black;">James</small> -->
                            <!-- <small style="color:black;">Co-Founder</small> -->
                            <h4 style=" display:block; color: black;">Member</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="rounded shadow overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="static/images/yashita.jpg" style="height:400px; width:400px;">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                <a class="btn btn-square btn-primary mx-1" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href="https://x.com/?mx=2"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h1 style="font-weight:bold; display:block; color: black;">Yashita</h1>
                            <!-- /* <small style="font-weight:bold; display:block; color: black;">Amelia</small> */ -->
                            <!-- <small style="color:black;">Co-Founder</small> -->
                            <h4 style=" display:block; color: black;">Member</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="rounded shadow overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="static/images/krish.jpg" style="height:400px; width:400px;">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                <a class="btn btn-square btn-primary mx-1" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href="https://x.com/?mx=2"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3">
                            <!-- <small style="font-weight:bold; display:block; color:black;">Arthur</small> -->
                            <h1 style="font-weight:bold; display:block; color: black;">Krrish </h1>
                            <!-- <small style="color:black;">Co-Founder</small> -->
                            <h4 style=" display:block; color: black;">Member</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-xxl testimonial">
    <div class="container" height="400px" >
        <h2 class="text-center text-white mb-4">What Our Clients Say</h2>
        <div class="owl-carousel testimonial-carousel">
            <!-- Default Testimonials -->
            <div class="testimonial-item bg-white" height="300px" width="100px">
                <p>"Amazing service and great experience!"</p>
                <div class="d-flex align-items-center">
                    <!-- <img src="https://i.pravatar.cc/50?img=1" alt="User" width="200px" height="400px"> -->
                    <i class="fa-solid fa-user" style="height: 100px; width: 100px; justify-content: center;"></i>
                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">John Doe</h6>
                        <small>Designer</small>
                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>

            <div class="testimonial-item bg-white">
                <p>"The team was fantastic. Highly recommended!"</p>
                <div class="d-flex align-items-center">
                    <!-- <img src="https://i.pravatar.cc/50?img=2" alt="User"> -->
                    <i class="fa-solid fa-user" style="height: 100px; width: 100px; justify-content: center;"></i>
                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Jane Smith</h6>
                        <small>Marketing Expert</small>
                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>

            <div class="testimonial-item bg-white">
                <p>"Excellent service, will definitely return!"</p>
                <div class="d-flex align-items-center">
                    <!-- <img src="https://i.pravatar.cc/50?img=3" alt="User"> -->
                    <i class="fa-solid fa-user" style="height: 100px; width: 100px; justify-content: center;"></i>
                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Michael Brown</h6>
                        <small>Business Owner</small>
                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
        </div>
    </div>
</div>
{{data}}
<!-- Review Submission Form -->
<div class="container">
    <h2 class="text-center my-4">Write a Review</h2>
    <div class="review-form">
        <form  action="/reviews" id="reviewForm" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Your Name</label>
                <input type="text" class="form-control" id="name"  name="name" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email"name="email" required>
            </div>
            <div class="mb-3">
                <label for="review" class="form-label">Your Review</label>
                <textarea class="form-control" id="review" name="review" rows="3" required ></textarea>
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit Review</button>
        </form>
    </div>
</div>

<!-- jQuery and Owl Carousel JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<!-- Bootstrap JS -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->

<script>
    $(document).ready(function(){
        $(".testimonial-carousel").owlCarousel({
            loop: true,
            margin: 20,
            nav: true,
            dots: true,
            autoplay: true,
            autoplayTimeout: 3000,
            responsive: {
                0: { items: 1 },
                600: { items: 2 },
                1000: { items: 3 }
            }
        });

        $("#reviewForm").submit(function(event) {
            event.preventDefault(); // Prevent page reload
            
            // Get form values
            var name = $("#name").val();
            var profession = $("#profession").val();
            var review = $("#review").val();
            //var avatar =  <i class="fa-solid fa-user" style="height: 100px; width: 100px; justify-content: center;"></i> + Math.floor(Math.random() * 100); // Random avatar
            var avatar = "https://i.pravatar.cc/50?" + Math.floor(Math.random() * 100); // Random avatar
            
            // Create new testimonial HTML
            var newTestimonial = `
                <div class="testimonial-item bg-white">
                    <p>"${review}"</p>
                    <div class="d-flex align-items-center">
                        <img src="${avatar}" alt="User">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">${name}</h6>
                            <small>${profession}</small>
                        </div>
                    </div>
                    <i class="fa fa-quote-right fa-3x position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                </div>
            `;

            // Append new review to carousel & refresh it
            var carousel = $(".testimonial-carousel").trigger('add.owl.carousel', [$(newTestimonial)]).trigger('refresh.owl.carousel');

            // Reset form fields
            $("#reviewForm")[0].reset();
        });
    });
</script>



{% endblock %}