{% extends 'base.html' %}
{% block title %}
    
{% endblock %}

{% block contentStyle %}
    
{% endblock %}

{% block section %}
<main class="content23">
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/607809416.webp?k=445909f9f1a79ac7a2a49a0cfde49c7d5efda981f8c99cd46fe9e3c3cfe95e00&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Hotel Sea Castle</h3>
            <p>Located in Calangute, less than 1 km from Calangute Beach, Hotel Sea Castle provides accommodation with a restaurant, free private parking and a bar.</p>
            <p><strong>Location:</strong> 6 km from center</p>
            <p><strong>Price: </strong> ₹13,750</p>
        </div>
        <div class="rating-box">
            <strong>Superb</strong>
            <small>90 reviews</small>
            <div class="rating">8.9</div>
            <button class="show-prices"><a href="{{ url_for('booking' ) }}">Book Now</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/524438663.webp?k=c73680d20e6e504fc2a3f60b52478b2b18c2d12848c588cc247987665905b3d3&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>The Astor - All Suites Hotel Candolim Goa</h3>
            <p>Situated in Candolim, less than 1 km from Candolim Beach, The Astor - All Suites Hotel Candolim Goa features accommodation with an outdoor swimming pool, free private parking, a fitness centre and a...</p>
            <p><strong>Location:</strong> 4.3 km from center</p>
            <p><strong>Price:</strong> ₹16,400</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>75 reviews</small>
            <div class="rating">8.9</div>
            <button class="show-prices"><a href="{{ url_for('booking' ) }}">Book Now</a></button>
            <!-- <button class="show-prices"><a href="https://sea-treasure.goa-india-hotels-resorts.com/en/">₹16,400</a></button> -->
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/573146621.webp?k=b233f5cc2e8d1cda6cf8df75bd78211b79f61cf6f5976ba2dca04aee6c72f669&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Dimaru Boutique Hotel</h3>
            <p>Situated in Calangute, 1.3 km from Calangute Beach, Dimaru Boutique Hotel features accommodation with a terrace, free private parking, a restaurant and a bar.</p>
            <p><strong>Location:</strong> 4.1 km from centre</p>
            <p><strong>Price:</strong> ₹18,500</p>
        </div>
        <div class="rating-box">
            <strong>Good</strong>
            <small>120 reviews</small>
            <div class="rating">9.0</div>
            <button class="show-prices"><a href="{{ url_for('booking' ) }}">Book Now</a></button>
            <!-- <button class="show-prices"><a href="https://www.skyscanner.co.in/hotels/india/calangute-hotels/dimaru-boutique-hotel/ht-222207724">₹18,350</a></button> -->
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/573218053.webp?k=ee86236156f4ee25149ae6f9250089b4f14ce1ae6de4a9eb6ec1af417e421584&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Grand Continent Morjim</h3>
            <p>Grand Continent Morjim features an outdoor swimming pool, garden, a restaurant and bar in Morjim. This 4-star resort offers room service, a 24-hour front desk and free WiFi. </p>
            <p><strong>Location:</strong> 4.1 km from centre</p>
            <p><strong>Price:</strong> ₹10,400</p>
        </div>
        <div class="rating-box">
            <strong>Good</strong>
            <small>100 reviews</small>
            <div class="rating">9.3</div>
            <button class="show-prices"><a href="{{ url_for('booking' ) }}">Book Now</a></button>
            <!-- <button class="show-prices"><a href="https://www.klook.com/en-IN/hotels/detail/1420271-grand-continent-morjim/">₹10,440</a></button> -->
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/532526509.webp?k=bc9fc7f2e18e976beccd7d8a55abc139cdf85f60e4fb0957c880e1249a98d018&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Storii By ITC Hotels, Shanti Morada Goa</h3>
            <p>Situated in Calangute, 11 km from Chapora Fort, Storii By ITC Hotels Shanti Morada Saligao features accommodation with an outdoor swimming pool, free private parking, a garden, and shared lounges. </p>
            <p><strong>Location:</strong> 9.3 km from centre</p>
            <p><strong>Price:</strong> ₹14,900</p>
            

        </div>
        <div class="rating-box">
            <strong>superb</strong>
            <small>68 reviews</small>
            <div class="rating">9.3</div>
            <button class="show-prices"><a href="{{ url_for('booking' ) }}">Book Now</a></button>
            <!-- <button class="show-prices"><a href="https://www.itchotels.com/in/en/storiishantimorada-goa">₹14,900</a></button> -->
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/404879675.webp?k=0cc647ad6b52dbef4c0e9ca0c407a7f1245ea939a06bab5f8cb21f7893f02c65&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Sandbanks Beach Villas, Morjim</h3>
            <p>Situated in Morjim, a few steps from Ashwem Beach, Sandbanks Beach Villas, Morjim features accommodation with an outdoor swimming pool, free private parking, a garden and a restaurant.</p>
            <p><strong>Location:</strong> 11 km from centre</p>
            <p><strong>Price:</strong> ₹17,600</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="{{ url_for('booking' ) }}">Book Now</a></button>
            <!-- <button class="show-prices"><a href="https://www.tripadvisor.in/Hotel_Review-g1936425-d24006115-Reviews-Sandbanks_Beach_Villas_Morjim-Morjim_North_Goa_District_Goa.html">₹17,600</a></button> -->
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    
{% endblock %}