{% extends 'base.html' %}
{% block title %}
    
{% endblock %}

{% block contentStyle %}
    
{% endblock %}

{% block section %}
<main class="content23">
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/623339681.webp?k=e4aa5866f0705840251da3a2d554a59a85522d54d33cf757e5a4662cab833288&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>The Paradise By Tunga</h3>
            <p>Situated beside industrial area MIDC, this hotel offers modern accommodation with a flat-screen TV and free Wi-Fi access.</p>
            <p><strong>Location:</strong> 6 km from center</p>
            <p><strong>Price:</strong> ₹13,775</p>
        </div>
        <div class="rating-box">
            <strong>Superb</strong>
            <small>90 reviews</small>
            <div class="rating">8.9</div>
            <!-- <button class="show-prices"><a href="{{ url_for('booking' ) }}">Book Now</a></button> -->
            <button class="show-prices"><a href="{{ url_for('booking' ) }}">Book Now</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/641375302.webp?k=407ee243e11ea0cbbd9dd4c14f0058e06442dabdcaa0fd0aa177b9b99af31e95&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Hotel Suba Galaxy Mumbai</h3>
            <p>Hotel Suba Galaxy Mumbai is located in Mumbai, a 15-minute drive from Juhu Beach. It offers 2 dining options, a 24-hour front desk and air-conditioned rooms with a TV. WiFi is provided for free.</p>
            <p><strong>Location:</strong> 4.3 km from center</p>
            <p><strong>Price:</strong> ₹16,400</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>75 reviews</small>
            <div class="rating">8.9</div>
            <!-- <button class="show-prices"><a href="#">Book Now</a></button> -->
            <button class="show-prices"><a href="{{ url_for('booking' ) }}">Book Now</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/520102818.webp?k=301b1ff0efee765525d0fdb856c3ab2a48e3494da99a89606a44a901d08c3577&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Novotel Mumbai International Airport</h3>
            <p>Located in Mumbai, 4.5 km from Phoenix Market City Mall, Novotel Mumbai International Airport provides accommodation with an outdoor swimming pool, free private parking, a fitness centre and a garden.</p>
            <p><strong>Location:</strong> 4.1 km from centre</p>
            <p><strong>Price:</strong> ₹18,350</p>
        </div>
        <div class="rating-box">
            <strong>Good</strong>
            <small>120 reviews</small>
            <div class="rating">9.0</div>
            <!-- <button class="show-prices"><a href="#">#</a></button> -->
            <button class="show-prices"><a href="{{ url_for('booking' ) }}">Book Now</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/18068240.webp?k=2820b3aaf4cb8c005cdb38a6c9b6bd0318543dd9dd17d9894584b6b20d1da5d5&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>The Lalit Mumbai</h3>
            <p>The Lalit Mumbai is located along Sahar Airport Road, about 1 km from Sahar International Airport. The hotel offers an outdoor pool, flat-screen cable TVs and 6 dining options. </p>
            <p><strong>Location:</strong> 4.1 km from centre</p>
            <p><strong>Price:</strong> ₹10,440</p>
        </div>
        <div class="rating-box">
            <strong>Good</strong>
            <small>100 reviews</small>
            <div class="rating">9.3</div>
            <!-- <button class="show-prices"><a href="#">Book Now</a></button> -->
            <button class="show-prices"><a href="{{ url_for('booking' ) }}">Book Now</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/536802173.webp?k=002dad4cef85f9ed9af44e64328d6fd26b1de94d1ed17cd44f166394d198e3a2&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Trident Bandra Kurla</h3>
            <p>The 5-star Trident Bandra Kurla provides an outdoor swimming pool and full spa services. Concierge services and room service are available 24 hours. On-site parking is free. </p>
            <p><strong>Location:</strong> 9.3 km from centre</p>
            <p><strong>Price:</strong> ₹14,900</p>
        </div>
        <div class="rating-box">
            <strong>superb</strong>
            <small>68 reviews</small>
            <div class="rating">9.3</div>
            <!-- <button class="show-prices"><a href="https://www.tripadvisor.in/Hotel_Review-g304554-d1135621-Reviews-Trident_Hotel_Bandra_Kurla-Mumbai_Maharashtra.html">₹14,900</a></button> -->
            <button class="show-prices"><a href="{{ url_for('booking' ) }}">Book Now</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/47218682.webp?k=68ff5ce5b0605a95a87a48244bdb85f8c99dacdc3ba79f94efbe0969038c51bc&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>The Leela Mumbai</h3>
            <p>Luxurious accommodation coupled with 6 dining options can be expected at The Leela Mumbai, just 5 minutes' drive from Chhatrapati Shivaji International Airport.</p>
            <p><strong>Location:</strong> 11 km from centre</p>
            <p><strong>Price:</strong> ₹17,600</p>

        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <!-- <button class="show-prices"><a href="#"> Book NOW</a></button> -->
            <button class="show-prices"><a href="{{ url_for('booking' ) }}">Book Now</a></button>
        </div>
    </div>
</div>

</main>

{% endblock %}

{% block content %}
    
{% endblock %}