{% extends 'base.html' %}
{% block title %}
    
{% endblock %}

{% block contentStyle %}
    
{% endblock %}

{% block section %}
<main class="content23">
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/623339681.webp?k=e4aa5866f0705840251da3a2d554a59a85522d54d33cf757e5a4662cab833288&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>The Oberoi, Bangalore</h3>
            <p>This elevated hotel features a scenic garden pavilion restaurant for stylish</p>
            <p><strong>Location:</strong> 6 km from center</p>
        </div>
        <div class="rating-box">
            <strong>Superb</strong>
            <small>90 reviews</small>
            <div class="rating">9.2</div>
            <button class="show-prices"><a href="https://www.oberoihotels.com/hotels-in-bengaluru/rooms-suites/?utm_source=google&utm_content=Rooms_Suites_Sitelinks_11-07-2023&utm_medium=cpc&utm_campaign=oberoi_bengaluru_search_conversion_ia&gad_source=1&gclid=CjwKCAiAzba9BhBhEiwA7glbapDZ6jTrr0O3D_7oQaoSnRRV9HwcRqi_59NcX1e4bS-vH8IDDcxOqRoCKoEQAvD_BwE">₹15,775</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/625120814.webp?k=d518af7bd26de6eabb2a4614fef7c1c2ca3e0b65210668ee56fbeefd693d9a21&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>JW Marriott Hotel Bangalore</h3>
            <p>All-day global spot at the JW Marriott with a la carte & buffet fare, including a big Sunday brunch.</p>
            <p><strong>Location:</strong> 4.3 km from center</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>75 reviews</small>
            <div class="rating">8.9</div>
            <button class="show-prices"><a href="https://www.marriott.com/en-us/hotels/blrjw-jw-marriott-hotel-bengaluru/overview/?nst=paid&hmGUID=91ec4fe2-f30f-4ff7-9f70-fee4858cfa3e">₹12,200</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/455913796.webp?k=0ccfab657eb3e1f1c46c0f45bec366d5297c69dcba935d120c5ed23d909ea4be&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>The Ritz-Carlton, Bangalore</h3>
            <p>Luxury hotel's Chinese restaurant featuring an outdoor terrace & a sleek, wood-lined interior.</p>
            <p><strong>Location:</strong> 4.1 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Good</strong>
            <small>120 reviews</small>
            <div class="rating">9.0</div>
            <button class="show-prices"><a href="https://www.ritzcarlton.com/en/hotels/blrrz-the-ritz-carlton-bangalore/overview/">₹17,350</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/639475991.webp?k=8cfe149014d36fdbe05eed07f22d30cec59d0b59d0dcd2f368ef6b2778c5045b&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Radisson Blu Hotel, Atria Bangalore</h3>
            <p>A 13-minute walk from the nearest metro station, this low-key hotel in the city centre is 15 minutes on foot from Cubbon Park and 3 km from Bangalore Palace. </p>
            <p><strong>Location:</strong> 4.1 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Good</strong>
            <small>100 reviews</small>
            <div class="rating">9.3</div>
            <button class="show-prices"><a href="https://www.radissonhotels.com/en-us/hotels/radisson-blu-bengaluru-atria?facilitatorId=RHGSEM&cid=a%3Aps+b%3Aggl+c%3Aemea+i%3Abrand+e%3Ardb+d%3Aind+r%3Abrt+f%3Aen-US+g%3Aho+h%3AINKABENATR+v%3Acf&gad_source=1&gclid=CjwKCAiAzba9BhBhEiwA7glbavR5r7VGfuaDChaKG69FNTqptZTaVFgIYdKuT6jYk-zIy7n97LNzEBoC1qMQAvD_BwE&gclsrc=aw.ds">₹12,650</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/536802173.webp?k=002dad4cef85f9ed9af44e64328d6fd26b1de94d1ed17cd44f166394d198e3a2&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Sheraton Grand Bangalore Hotel at Brigade Gateway </h3>
            <p>Our family-friendly business hotel near BIEC offers 5-star luxury in the vibrant Indian state of Karnataka. Reserve an elegantly appointed accommodation </p>
            <p><strong>Location:</strong> 9.3 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>superb</strong>
            <small>68 reviews</small>
            <div class="rating">9.3</div>
            <button class="show-prices"><a href="https://www.kayak.co.in/hotels/Sheraton-Grand-Bangalore-Hotel-at-Brigade-Gateway,Bengaluru-p16183-h402534-details/2025-02-15/2025-02-16/2adults?psid=gIHkFiXozK&pm=nightly-total#overview">₹18,900</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
    <div class="hotel">
        <div class="image-container">
            <img src="https://cf.bstatic.com/xdata/images/hotel/square600/539099649.webp?k=614eb524d910caff185160c25449b0bb8c8027c672233755d9aec06c3f68873e&o=" alt="Hotel Image">
            <button class="like-button">❤</button>
        </div>
        <div class="hotel-info">
            <h3>Taj Yeshwantpur, Bangalore</h3>
            <p>Set across the street from a metro stop, this contemporary hotel is 3 km from the ISKCON Temple and 13 km from Lalbagh botanical gardens</p>
            <p><strong>Location:</strong> 11 km from centre</p>
        </div>
        <div class="rating-box">
            <strong>Fabulous</strong>
            <small>96 reviews</small>
            <div class="rating">9.6</div>
            <button class="show-prices"><a href="https://www.tajhotels.com/en-in/hotels/taj-yeshwantpur-bangalore">₹13,400</a></button>
        </div>
    </div>
</div>

</main>
{% endblock %}

{% block content %}
    
{% endblock %}